*{
    margin: 0;
    padding: 0;
    /*overflow-y: hidden;*/

}

/*左边*/

/*约球*/
.column:first-child{
    padding: 10% 10%;

}

/*右边*/
#right{
    float: left;
    width: 50%;
    height: 700px;
    background-color: #eee;
    overflow-x: hidden;
    
}

.column:last-child{
    overflow-y: auto;
    border-left: solid 3px #aaa;
    padding: 2% 2%;

}
.column:last-child ul{
    overflow-x: hidden;
    list-style: none;
    margin: 3% 2%;
    height: 30%;
    width: 96%;
}
.column:last-child h4{
    text-align: center;
}
/*帖子*/

.column:last-child *{
    /*background-color: #fff;*/
}

#right .panel-body div{
    float: left; 
    width: auto;
}
#right .panel-body label{
    background-color: #fff;
    margin-left: 8%;
    color: black;
    font-weight: normal;
    font-size: 1.1em;
}
#right .panel-body div:last-child{
    margin-left: 10px;
}
.panel-body img{
    margin-left: 0;
    width: 50px;
    height: 50px;
}
#right .panel-body a{
    text-align: center;
}

#right .panel-body div:last-child{
    margin-left: 0;
    width: 200px;
    height: auto;
}

#right div:last-child .panel-body{
    width: 100%;
    margin: 0 0;
}
#right div:last-child .label-info{
    background-color: rgb(91,192,222);
}
