//
   Created by xulanshan on 17-7-6.

extend ../layout
block header
    link( rel="stylesheet" href="stylesheets/search.css" )
    link( rel="stylesheet" href="stylesheets/talking.css" )

block content
    .row.clearfix
        #left.col-md-4.column
            img( src='pic/me.jpg' )
            .pic
                a#info.btn.btn-info 我的信息
                a#back.btn.btn-info 返回主页
        #right.col-md-8.columb
            ul
    script( src="javascripts/search.js" )
