extend ../layout
block header
    link( href='stylesheets/music.css' , rel='stylesheet' )

block content
    .well.well-lg
    	img( src="pic/yezi1.jpg")
        #{info1}
    .well.well-lg
        #{info2}
    .well.well-lg
        #{info3}
    .well.well-lg
        #{info4}

