
<!--Created by xulanshan on 17-7-6.-->
extend ../layout
block header
    link( rel="stylesheet" , href="stylesheets/store.css" )
    script( src="javascripts/store.js" )

block content
    slide#left.well
        ul.nav.nav-tabs
            li
                a( href='#' , data-toggle='tab' ) 商城
            li
                a( href='#' , data-toggle='tab' ) 意见
            li
                a( href="/" ) 主页
    section#right.well.well-lg
        iframe( frameborder="0" , src="/new" )



