extend ../layout
block header
    script( src="/javascripts/index.js" )
    script( src="/javascripts/vacation.js" )
    link( href="/stylesheets/vacation.css", rel="stylesheet")

block content
    .clearfix.row
        .col-md-6.column

            h4 我要发表我的意见
            div
                form( class="form-horizontal" , role="form" , name="date_form" )
                    .form-group
                        col-sm-8( required )
                            input( typze="text" , class="input-lg form-control" , id="date_time" , name="date_time" , placeholder="板块" )
                    .form-group
                        col-sm-10( required )
                            textarea( class="input-lg form-control" , id="date_other" , name="date_other" , placeholder="意见内容(同时推荐在这里留下你的联系方式例如qq等)" )
                    .form-group
                        col-sm-10( required )
                            input( class="input-lg form-control" , type="submit" , value="提交" )
        #right.col-md-6.column
            h4 攻略列表
            div
                ul
                    li
                        .panel.panel-default
                            .panel-body
                                div
                                    img( src="pic/person1.jpg" , name="join_pic" )
                                    span( class="panel-title popover-show" , title="个人信息" , data-container="body" , data-toggle="popover" , data-placement="right" , data-content="用户诚信度为100" , name="join_user" ) 许灡珊
                                    i( name="publish_time" ) 14：23
                                br
                                br
                                hr
                                label( class="label" , name="join_place" ) 饮食
                                br
                                p( name="join_other" ) 备注：联系15520113806
                                a( href=":;javascript" , name="join_in" )
                                    h3 我觉得可行
                    li
                        .panel.panel-default
                            .panel-body
                                div
                                    img( src="pic/person1.jpg" , name="join_pic" )
                                    span( class="panel-title popover-show" , title="个人信息" , data-container="body" , data-toggle="popover" , data-placement="right" , data-content="用户诚信度为100" , name="join_user" ) xulanshan
                                    i( name="publish_time" ) 14：23
                                br
                                br
                                hr
                                label( class="label" , name="join_place" ) 江安体育馆
                                br
                                p( name="join_other" ) 备注：联系15520113806
                                a( href=":;javascript" , name="join_in" )
                                    h3 我觉得可行
                    li
                        .panel.panel-default
                            .panel-body
                                div
                                    img( src="pic/person1.jpg" , name="join_pic" )
                                    span( class="panel-title popover-show" , title="个人信息" , data-container="body" , data-toggle="popover" , data-placement="right" , data-content="用户诚信度为100" , name="join_user" ) xulanshan
                                    i( name="publish_time" ) 14：23
                                br
                                br
                                hr
                                label( class="label" , name="join_place" ) 江安体育馆
                                br
                                p( name="join_other" ) 备注：联系15520113806
                                a( href=":;javascript" , name="join_in" )
                                    h3 我觉得可行